<ul class='users-nav'>
  <% if current_user %>
  <li>
    <a href="/closet">My closet</a>
  </li>
  <li>
    <a href="/account"><i class="fa fa-cog"></i></a>
  </li>
  <% else %>
  <li>
    <%= link_to "Log in/Sign up", login_path %>
  </li>
  <% end %>

  <li>
    <%= link_to "About", '/about' %>
  </li>  
</ul>
