
<%= render "nav" %>

<div class=''>

    <h2 class=''>All users</h2>  

    <ul class=''>
    <% @users.each do |user| %>
    <li>     
      <a href="/users/<%= user.id %>">
        <b><%= user.username.capitalize %></b></a> 
    </li> 

    <% end %>  
    </ul>      

</div>
