<%= render 'nav' %>

<div class="class">
  <h3>
    <%= @user.username %>'s profile
  </h3>
  <a href='' class='edit-profile'>Edit profile</a>
  <%= link_to "Log out", sessions_path, method: :delete %>
</div>

<div class="edit">
	<%= render 'edit' %>
</div>
