<%= render 'users/nav' %>
  


<div class='about'>
  Vintage50 is a highly curated collection of vintage-inspired clothing $50 and under. Current items on the site are pulled from Forever21.com, HM.com, Express.com, UrbanOutfitters.com and NastyGal.com.

  There's no need to sign up if you're just looking around. But you'll have to <%= link_to 'sign in', login_path %> to add items to your Vintage50 closet.
</div>
