

@mixin link-color($color, $color-hover) {
	color: $color;
	&:hover { color: $color-hover; }
}

@mixin background-color($color, $color-hover) {
	background: $color;
	&:hover { 
		background: $color-hover;
	}
}

@mixin position($position,$top,$right,$bottom,$left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
	left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);	
}

@mixin dimension($width,$height) {
	width: $width;
	height: $height;
}
