/*
 *= font-awesome
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans serif;
  font-size: 16px;
}

.container {
  min-width: 860px;
  max-width: 1100px;
  width: 95%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #333;
}


/* NAV BAR */
.nav {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand';
} 

.nav h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}
.nav h4 {
  margin-top: 0;
  color: #555;
}

.nav a { color: #444; }
.nav a:hover { color: #666; }
.logo {
  width: 300px;
  float: left;
}

.filter, .search {
  float: right;
}
.search {
  width: 260px;
  margin: 30px 0 0 0;  
}
.filter {
  width: 196px;
  margin: 15px 0 0 0;
}

p.hidden {
  height: 60px;
  width: 100%;
  margin: 0;
}
p.hidden:before {
  clear: both;
}
p.hidden:after {
  clear: both;
}


/* PRODUCT INDEX */
.all_products {
  padding: 0;
}

.all_products li {
  display: inline-block;
  width: 190px;
  vertical-align: top;
  margin: 0 0 0 20px;
}

.all_products img {
  display: block;
  height: 200px;
  margin: 10px auto;
}

.steal {
  display: inline;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;  
  color: #FF4500;
}

.flash {
  width: 200px;
  margin: 0 0 0 40%;
  display: block;
  font-style: italic;
  position: absolute;
  z-index: 1;
}
