@import 'mixins';

/* NAV BAR */
nav.global {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;

  h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 10px 0 0 0;
  }

  h4 {
    margin-top: 0;
    color: #555;
  }

  a {
    @include link-color(#444,#666); 
  }

  .logo {
    width: 300px;
    float: left;
  }
}

/* USER NAV */
.users-nav {
  list-style: none;
  margin: 15px 3em 0 0;
  padding: 0;
  float: right;

  li {
    display: inline-block;
    margin-right: .8em;
  }
}


.pagination {
  width: 100%;
  text-align: right;
  font-size: 16px;
  .previous_page, .next_page {
    font-size: 1.2em;
  }
}

/* BULK EDIT */
.bulk-edit {
  float: right;
  margin: -1.5em 3em 0 0;
}


/* MODAL & GLOBAL OVERLAY */
.global-overlay {
  @include position(fixed,0,auto,auto,0);
  @include dimension(100%,100%);
  z-index: 3;
  background-color: rbga(255,255,255,.7);
}

.modal {
  @include vertical-align;
  @include horizontal-align;
  @include dimension(400px,300px);
  position: absolute;
  z-index: 4;
  background-color: #fff;
  border: 1px solid #eee;
  .close {
    font-size: 2em;
    @include position(absolute,0,0,auto,auto);
  }
}

.global-overlay, .modal {
  display: none;
  &.active {
    display: block;
  }  
}
