<nav class='products'>
  <form action='/products/search' method='GET' class='search'>
    <input type='text' name='term' placeholder='Ex: crop top' />
    <input type='submit' value="Search" />
  </form>

  <p class='hidden'>&nbsp;</p>

  <form class="filter" action='/products/search' method='get'>
    <label>Filter by category:</label>
    <input type='hidden' name='attribute' value='category' />
    <select name='filter'>
      <% for category in @categories %>
      <option value="<%= category.downcase %>"><%= category %></option>
      <% end %>
    </select>  
  </form>

</nav>

