<%= render 'nav' %>

<div class="flash">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<div class="container">
  <div class="pagination">
    <%= will_paginate @products %>
  </div>

  <ul class='all_products'>
  <% @products.order('created_at DESC').each do |product| %>
    <%= render partial: 'show', locals: { product: product } %>
  <% end %>
  </ul>


</div>
